DATABASES.POSTGRES.USER=admin
DATABASES.POSTGRES.PASSWORD=admin
DATABASES.POSTGRES.HOST=localhost
DATABASES.POSTGRES.PORT=5432
DATABASES.POSTGRES.SCHEMA=public

DATABASES.MYSQL.USER=admin
DATABASES.MYSQL.PASSWORD=admin
DATABASES.MYSQL.HOST=localhost
DATABASES.MYSQL.PORT=5001
DATABASES.MYSQL.SCHEMA=public

DATABASES.KAFKA.CONSUMER.BOOTSTRAP_SERVERS=localhost:9092
DATABASES.KAFKA.CONSUMER.AUTO_OFFSET_RESET=earliest
DATABASES.KAFKA.CONSUMER.KEY_DESERIALIZER=org.apache.kafka.common.serialization.StringDeserializer
DATABASES.KAFKA.CONSUMER.VALUE_DESERIALIZER=org.apache.kafka.common.serialization.StringDeserializer

DATABASES.KAFKA.PRODUCER.BOOTSTRAP_SERVERS=localhost:9092
DATABASES.KAFKA.PRODUCER.KEY_DESERIALIZER=org.apache.kafka.common.serialization.StringDeserializer
DATABASES.KAFKA.PRODUCER.VALUE_DESERIALIZER=org.apache.kafka.common.serialization.StringDeserializer

LOGGER.FORMATTERS.DEFAULT.FORMAT='%(asctime)s %(levelname)-8s %(name)-15s %(message)s'
LOGGER.FORMATTERS.DEFAULT.DATEFMT='%Y-%m-%d %H:%M:%S'

LOGGER.HANDLERS.CONSOLE.CLASS=logging.StreamHandler
LOGGER.HANDLERS.CONSOLE.FORMATTER=default
LOGGER.HANDLERS.CONSOLE.LEVEL=INFO
LOGGER.HANDLERS.CONSOLE.STREAM=ext://sys.stdout

LOGGER.HANDLERS.FILE.CLASS=logging.handlers.RotatingFileHandler
LOGGER.HANDLERS.FILE.FORMATTER=default
LOGGER.HANDLERS.FILE.FILENAME=logconfig.log
LOGGER.HANDLERS.FILE.MAX_BYTES=1024
LOGGER.HANDLERS.FILE.BACKUP_COUNT=3
